body {
    background-color: #cc3333;
}

.bar {
    display: inline-block;
    margin-right: 2px;
    
}

#chartArea {
    background-color: white;
}

.axis path, .axis line {
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}